$main-color: #98d4d4;



.mainBox {
  
  margin: 80px 0;

  .titles {
    width: 200px;
    font-size: 3.6rem;
    font-weight: bold;
    color: $main-color;
    border-bottom: 3px solid $main-color;
    text-align: center;
    margin: 0 auto 80px;
    padding-bottom: 3px;
  }
}