$main-font-color: #4a5251;

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}

.portfolios {
  margin: 0 auto;


  @include pc {
    display: flex;

  }

  
  .pfItems {
    @include pc {
      margin: 0 auto;
    }
    .pfTitle {
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }

    .pfImgBox {
      max-width: 300px;
      height: 300px;
      overflow: hidden;
      margin: 0 auto;
      border-radius: 10px;
      border: 1px solid #eee;
      box-shadow: 1px 1px 10px #ced8d7;
      margin-bottom: 50px;



      .imgEffBox {
        position: relative;
        cursor: pointer;
        transition-duration: 0.5s;

        &:before {
          display: flex;
          justify-content: center;
          align-items: center;
          content: "Read More";
          position: absolute;
          font-size: 3.4rem;
          font-weight: bold;
          color: #fff;
          text-shadow: 0 0 3px #4a4d4d;
          width: 300px;
          height: 300px;
          background-color: #3f44436e;
          transition-duration: 0.5s;
          opacity: 0;
        }
        &:hover {
          transform: scale(1.1);

          &:before {
            opacity: 1;
          }
        }
      }
    }


  }
}
